/* regles concernant les Blocs */
/* regles concernant le texte */
/* regles concernant le reste : background, border... */

/*----------------------------------------------------------------------------*\
    BASE
\*----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;

  font-size: 1em;
  font-family: "Raleway", sans-serif;
  line-height: 1.75; /* interligne calculer en divisant taille police par taille interligne du texte dans la maquette fichier psd */
  color: #737373;
}

::selection {
  color: #fff;

  background-color: #ff9100;
}

a {
  color: inherit; /* couleur héritée de body */
  text-decoration: none;
}

h2 {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 5px solid orange;
}

p {
  margin: 0 20px 20px 20px;
  width: 100%;
}

/*----------------------------------------------------------------------------*\
    Layout
\*----------------------------------------------------------------------------*/
#page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* centralise sur la page par rapport a la width*/

  background-color: rgb(56, 156, 143);
}

/*----------------------------------------------------------------------------*\
    HEARDER
\*----------------------------------------------------------------------------*/
.header-container {
  width: 100%;
  height: 100px;
  display: flex;

  background-color: #fff;
  box-shadow: #737373;
  position: fixed;
  z-index: 5;
}

.logo {
  display: block;
  margin-left: 0 0 0 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;

  font-weight: 200;
  letter-spacing: 2px;
  list-style: none;
  border: 1px solid white;
}

nav li a {
  padding: 20px; /* 20px autout du texte du bouton */

  color: white;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: orange;
  border: 1px solid;
}

nav li a:hover,
a:active {
  color: orange;
  background-color: #fff;
}

/*----------------------------------------------------------------------------*\
    ABOUT
\*----------------------------------------------------------------------------*/
.banner {
  height: 700px;
  width: 100%;
  padding-top: 100px;
  background-image: url(img/ship.jpg);
  background-size: cover;

  background-color: rgb(34, 30, 43);
}

.banner-content {
  height: 700px;
  width: 100%;
}

.banner-content h1 {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 250px;

  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(35, 160, 87);
}

h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------------*\
    ROYAL FAMILY SECTION
\*----------------------------------------------------------------------------*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Si nous voulions que nos flex-items soient répartis de manière égale en remplissant l'espace du container horizontalement, nous pourrions alors utiliser le justify-content et space-between ou space-around: */
  margin-top: 200px;
}

#royal-family {
  height: 700px;
  width: 100%;
  margin: auto;
}

h3 {
  text-align: center;
  font-weight: 300;
}

/*----------------------------------------------------------------------------*\
    ASSETS SECTION
\*----------------------------------------------------------------------------*/
#assets {
  width: 100%;
  height: 700px;
}

/*----------------------------------------------------------------------------*\
    CONTACT FORM
\*----------------------------------------------------------------------------*/
/* regles concernant les Blocs */
/* regles concernant le texte */
/* regles concernant le reste : background, border... */
