/*----------------------------------------------------------------------------*\
    BASE
\*----------------------------------------------------------------------------*/
body {
  /* regles concernant les Blocs */
  margin: 0;
  padding: 0;

  /* regles concernant le texte */
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  line-height: 1.75; /* interligne calculer en divisant taille police par taille interligne du texte dans la maquette fichier psd */
  color: #737373;
}
::selection {
  /* regles concernant le texte */
  color: #fff;

  /* regles concernant le reste : background, border... */
  background-color: #ff9100;
}

a {
  /* regles concernant le texte */
  color: inherit; /* couleur héritée de body */
  text-decoration: none;
}

h2 {
  /* regles concernant les Blocs */
  margin-left: 10px;
}

p {
  /* regles concernant les Blocs */
  margin-left: 10px;
  width: 100%;
}

/*----------------------------------------------------------------------------*\
    Layout
\*----------------------------------------------------------------------------*/
#page-container {
  /* regles concernant les Blocs */
  width: 100%;
  margin: 0 auto; /* centralise sur la page par rapport a la width*/

  /* regles concernant le reste : background, border... */
  background-color: rgb(56, 156, 143);
}

/*----------------------------------------------------------------------------*\
    HEARDER
\*----------------------------------------------------------------------------*/
.header-container {
  /* regles concernant les Blocs */
  height: 100px;
  display: flex;
  /* regles concernant le reste : background, border... */
  background-color: rgb(247, 54, 54);
}

.logo {
  /* regles concernant les Blocs */
  display: block;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: auto;

  background-color: #fff;
}

nav ul {
  /* regles concernant les Blocs */
  margin: 0;
  padding: 0;
  display: flex;

  background-color: rgb(231, 89, 172);
}

nav li {
  /* regles concernant les Blocs */
  display: flex;
  justify-content: space-around;
  /* regles concernant le texte */
  font-weight: 100;
  letter-spacing: 2px;
  list-style: none;
  padding: 20px;
  border: 1px solid white;

  background-color: rgb(231, 211, 31);
}

/*----------------------------------------------------------------------------*\
    ABOUT
\*----------------------------------------------------------------------------*/

.banner {
  /* regles concernant les Blocs */
  height: 700px;
  width: 100%;

  /* regles concernant le reste : background, border... */
  background: url(img/banner.jpg);
  background-size: cover;
  background-position: bottom center;
  opacity: 0.5;
}

.banner-content h1 {
  border: 3px solid white;
  position: relative;
  top: 250px;
  width: 50%;
  margin: 0 auto;
  z-index: 5;
}

h1 {
  /* regles concernant les Blocs */
  /* regles concernant le texte */
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  /* regles concernant le reste : background, border... */
}
/*----------------------------------------------------------------------------*\
    ROYAL FAMILY SECTION
\*----------------------------------------------------------------------------*/
/* regles concernant les Blocs */
/* regles concernant le texte */
/* regles concernant le reste : background, border... */
/*----------------------------------------------------------------------------*\
    ASSETS SECTION
\*----------------------------------------------------------------------------*/
/* regles concernant les Blocs */
/* regles concernant le texte */
/* regles concernant le reste : background, border... */
/*----------------------------------------------------------------------------*\
    CONTACT FORM
\*----------------------------------------------------------------------------*/
/* regles concernant les Blocs */
/* regles concernant le texte */
/* regles concernant le reste : background, border... */
